<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<div class="about__card">
					<img class="about__card-img" src="https://via.placeholder.com/125x125/?text=SLIDE1" alt="">
					<div class="about__card-texts">
						<h3 class="about__card-title">Lorem ipsum dolor.</h3>
						<p class="about__card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, cupiditate, at! Minus rem aut culpa, aspernatur cumque enim blanditiis sunt incidunt nostrum illo eaque quidem, minima ipsum sequi ad voluptatibus vero. Odio nemo, doloremque neque sequi aliquam rerum consequuntur quibusdam deserunt numquam laudantium incidunt voluptatibus iure saepe obcaecati repudiandae impedit consectetur reiciendis magnam debitis optio earum sunt consequatur, deleniti recusandae. Delectus minus magnam iure. Quam ratione facere, deserunt nisi. Ullam?</p>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="about__card">
					<img class="about__card-img" src="https://via.placeholder.com/125x125/?text=SLIDE1" alt="">
					<div class="about__card-texts">
						<h3 class="about__card-title">Lorem ipsum dolor.</h3>
						<p class="about__card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, cupiditate, at! Minus rem aut culpa, aspernatur cumque enim blanditiis sunt incidunt nostrum illo eaque quidem, minima ipsum sequi ad voluptatibus vero. Odio nemo, doloremque neque sequi aliquam rerum consequuntur quibusdam deserunt numquam laudantium incidunt voluptatibus iure saepe obcaecati repudiandae impedit consectetur reiciendis magnam debitis optio earum sunt consequatur, deleniti recusandae. Delectus minus magnam iure. Quam ratione facere, deserunt nisi. Ullam?</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>